#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  .weather {
    gap: 10px;
    width: 400px;
    display: flex;
    height: fit-content;
    flex-direction: column;

    .input-box {
      gap: 10px;
      width: 100%;
      height: 50px;
      display: flex;
      padding: 10px;
      overflow: hidden;
      align-items: center;
      border-radius: 2.5rem;
      border: 1px solid #fff;
      background: linear-gradient(to right, #005cb2, #2b75bb, #8eafce);

      img {
        width: 32px;
        height: 32px;
      }

      .input-text {
        flex: 1;
        color: #fff;
        height: 100%;
        border: none;
        font-size: 1rem;
        padding-block: 0;
        border-radius: 1rem;
        caret-color: #fff;
        background: transparent;
        padding-inline-start: 10px;
        border-bottom: 2px solid rgba($color: #fff, $alpha: 0.5);

        &::placeholder {
          color: rgba($color: #fff, $alpha: 0.6);
        }

        &:focus {
          outline: none;
          border-bottom: 2px solid rgba($color: #fff, $alpha: 1);
        }
      }
    }

    .weather-show {
      width: 100%;
      padding: 10px;
      border-radius: 1rem;
      border: 1px solid #fff;

      background: linear-gradient(
        to bottom,
        #005cb2,
        #2b75bb,
        #8eafce,
        #4a6e90,
        #122d47
      );

      .weather-icon {
        .city {
          margin: 0;
          color: #fff;
          font-size: 3rem;
          text-align: center;
        }

        .icon-box {
          text-align: center;
          img {
            width: 100px;
            height: 100px;
            animation: 2s linear infinite bounce;
          }

          @keyframes bounce {
            0% {
              transform: scale(.8);
            }
            20%{
                transform: scale(.9);
            }
            40%{
                transform: scale(1);
            }
            60%{
                transform: scale(.9);
            }
            100% {
              transform: scale(.8);
            }
          }
        }
      }

      .line {
        border-radius: 1rem;
        border-color: rgba($color: #fff, $alpha: 0.5);
      }

      .weather-info {
        display: flex;
        align-items: center;
        flex-direction: column;

        .degree {
          color: #fff;
          font-size: 1.8rem;
          margin-block: 10px;
        }

        .weather-text {
          .weather-name {
            margin: 0;
            color: #122d47;
            font-size: 1.5rem;
          }

          .weather-detail-list {
            padding: 0;
            color: #fff;
            list-style: none;
          }
        }
      }
    }
  }
}
